@import "../../components/utils/var";

.profile-container {
  //   div {
  //   text-overflow: ellipsis;
  //   overflow: hidden;
  //   white-space: nowrap;
  // }
  h1{
    padding-left: 3rem;
    font-size: 1.3rem;
    font-family: 'Teko';
  }
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  .profile-type-buttons {
    display: flex;
    justify-content: space-evenly;
    button:first-child {
      border-bottom-left-radius: 0.3rem;
      border-top-left-radius: 2rem;
    }
    button:last-child {
      border-bottom-right-radius: 0.3rem;
      border-top-right-radius: 2rem;
    }

    // button {
    //   height: 2rem;
    //   border: 1px solid rgb(138, 136, 136);

    //   width: 100%;
    //   background-color: rgb(255, 255, 255);
    // }
  }

  .dnd-list {
    border: 0.1rem solid black;
    display: flex;
    flex-wrap: wrap;

    span {
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }

    .drag-item {
      width: 10rem;
      height: 3rem;

      font-family: "Goldman";
      border: 1px solid black;
      padding: 0.15rem 0.55rem;
      margin: 0.3rem;
      display: flex;
      flex-direction: column;
      background: rgb(77, 241, 238);
      box-shadow: inset -1px 3px 8px 5px #5e9ee8, 2px 5px 16px 0px #597697,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
    .drag-item-active {
      width: 10rem;
      height: 3rem;
      font-family: "Goldman";
      border: 1px solid black;
      padding: 0.35rem 0.55rem;
      margin: 0.3rem;
      display: flex;
      flex-direction: column;
      background: red;
    }

    .drag-item {
      color: #412b2b;
      // padding: 0.15rem 0.55rem;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      transition: all 100ms linear;
    }

    .drag-item:hover {
      transform: scale(1.05);
    }

    .drag-item:hover::after {
      content: "";
      display: block;
      width: 75px;
      height: 175%;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 0.5;
      position: absolute;
      top: -20px;
      left: 0;
      animation: shine 200ms linear;
      transform: translateX(250px) rotate(-25deg);
    }
  }
}

@keyframes shine {
  0% {
    transform: translateX(-30px) rotate(-25deg);
  }

  100% {
    transform: translateX(250px) rotate(-25deg);
  }
}


//------------------------------------------Type Buttons--------------------------------------------------------------//

.profile-container {
  .profile-type-buttons {
    $button-secondary:#202600;
    button {
      font-family: 'Teko';
      font-size: 1rem;
      background: #ffffff;
      // box-shadow: 0 0.16rem $button-secondary;
      color: $button-secondary;
      width: 100%;
      height: 2rem;
      border: none;
      box-shadow: 
                // inset 0 0 2px 2px hsla(0,0%,0%,.2),
                // inset 0 0 2px 4px hsla(0,0%,0%,.2),
                // inset 0 0 2px 6px hsla(0,0%,0%,.2),
                // inset 0 0 1px 8px hsla(0,0%,0%,.5),
                inset 0 -0.1rem 0.05rem 0.05rem hsla(0,0%,0%,.5),
                // inset 0 1px 1px 8px hsla(0,0%,100%,.25),
                // inset 0 -30px 30px hsla(0,0%,0%,.2),
                0 0.16rem $button-secondary;
    }
    button:hover {
      background: #f4f4f4;
      box-shadow: 0 0.16rem #1e1e1e;
      color: $button-secondary;
      box-shadow: 
      // inset 0 0 2px 2px hsla(0,0%,0%,.2),
      // inset 0 0 2px 4px hsla(0,0%,0%,.2),
      // inset 0 0 2px 6px hsla(0,0%,0%,.2),
      // inset 0 0 1px 8px hsla(0,0%,0%,.5),
      inset 0 -0.1rem 0.05rem 0.05rem hsla(0,0%,0%,.6),
      // inset 0 1px 1px 8px hsla(0,0%,100%,.25),
      // inset 0 -30px 30px hsla(0,0%,0%,.2),
      0 0.16rem $button-secondary;
    }
    button:active {
      box-shadow: 0px 0px #1b1b1b;
      top: 4px;
      box-shadow: 
      // inset 0 0 2px 2px hsla(0,0%,0%,.2),
      // inset 0 0 2px 4px hsla(0,0%,0%,.2),
      // inset 0 0 2px 6px hsla(0,0%,0%,.2),
      // inset 0 0 1px 8px hsla(0,0%,0%,.5),
      inset 0 -0.1rem 0.05rem 0.1rem rgba(0, 0, 0, 0.139),
      // inset 0 1px 1px 8px hsla(0,0%,100%,.25),
      // inset 0 -30px 30px hsla(0,0%,0%,.2),
      0 0.16rem $button-secondary;
    }
  }
}
