.details-container {
  position: relative;
  // border: 1px solid black;
  // border-radius: 1rem;
  // background-color: rgb(245, 245, 245);
  // height: 100%;
  width: 90%;
  // min-width: 10rem;

  font-family: "Teko";
  // padding: 2rem;
  border: 1px solid black;
  background-color: rgb(244, 252, 255);
  padding: 0.9rem;
  border-radius: 0.2rem;
  font-family: 'Teko';
  box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem #0000003d;

  h1 {
    font-family: "Goldman";
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }

  .score{
    font-size: 1.6rem;
  }
  // ul {
    //   flex-wrap: wrap;
    //   display: flex;
    //   flex-direction: column;
    // }
    .details-set-list {
      list-style: none;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;

    li {
      padding: 0.2rem;
      line-height: 2rem;

    }
  }

  .edit-button{
    width: 2rem;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
    svg{
      width: 1.6rem;
      color: rgb(241, 129, 129);
    }
  }
}
