$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;


$left-main-color:#f4f9f9;
$primary-color:rgb(77, 241, 238);
$primary-color-clicked:rgb(63, 197, 195);

$primary-color-dashboard:#90BBFF;