@import "../../utils/var";
.recent-container {
  padding: 0.6rem;
  padding-top: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  position: relative;
  font-family: "Teko";
  width: 100%;
  .recent-title {
    position: absolute;
    left: 0.2rem;
    top: 0;
    font-size: 0.9rem;
  }
  .recent-single-container {
    padding: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem #0000003d;
    border-radius: 0.15rem;

    width: 7rem;
    .data-and-date {
      display: flex;
      p:first-child {
        padding-right: 0.3rem;
      }
    }
    .recent-title-container {
      display: flex;

      span {
        color: $primary-color-dashboard;
      }
      .svg-container{
        margin-left: 0.2rem;
        margin-top: 0.18rem;
        width: 1rem;
        height: 1rem;

        svg {
          display: inline;
        }
      }
    }
    p {
      span {
        color: rgba(184, 18, 18, 0.709);
      }
    }
    .recent-date {
      // font-size: 0.8rem;
    }
  }
}
