@import "../utils/var";

.list-container-wrapper {
  position: relative;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    // z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 90%
    );
    width: 100%;
    height: 3rem;
  }
  .list-container {
    // border: 1px solid black;
    // border-radius: 1rem;
    background-color: $left-main-color;
    overflow: auto;
    width: 100%;
    max-height: 35rem;
    // margin-bottom: 2rem;
    font-weight: 100;
    overflow-x: hidden;
    .active {
      background-color: rgb(106, 221, 219);
    }

    button {
      width: 100%;
      height: 1.6rem;
      background-color: $left-main-color;
      border: none;
      position: relative;
      display: block;
      // &::before{
      //   content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 4v16m8-8H4' /%3E%3C/svg%3E");
      //   position: absolute;
      //   z-index: 1;
      //   right: calc(50% - 0.65rem);
      //   // right: 50%;
      //   top:0.1rem;
      //   display: block;
      //   width: 1.3rem;
      //   opacity: 0.4;
      // }
    }
    .add-button {
      width: 1rem;
    }

    li {
      border-bottom: 0.1rem groove rgba(0, 0, 0, 0.37);
    }

    li {
      // border: 1px solid rgba(0, 0, 0, 0.124);
      display: flex;
      justify-content: space-evenly;
      font-family: "Goldman";
      font-size: 0.7rem;
      // padding: 0.1rem;
      // padding-left: 0.7rem;
      @media (min-width: $breakpoint-s) {
        font-size: 0.8rem;
      }
      @media (min-width: $breakpoint-m) {
        font-size: 0.8rem;
      }
      @media (min-width: $breakpoint-l) {
        font-size: 0.8rem;
      }
      @media (min-width: $breakpoint-xl) {
        font-size: 0.8rem;
      }

      .left-display {
        // padding-right: 0.7rem;
        width: 50%;

        // display: block;
       
      }
      .right-display {
        width: 50%;
      }

      div {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    // ------------------------------------Hover Effect---------------------------------------
    li {
      // margin: 1rem;
      background: $left-main-color;
      color: #412b2b;
      padding: 0.15rem 0.55rem;
      // width: 250px;
      // font-size: 1.2rem;
      cursor: pointer;
      // border-radius: 5px;
      position: relative;
      overflow: hidden;
      transition: all 100ms linear;
    }

    li:hover {
      transform: scale(1.05) rotate(-0.7deg);
    }

    li:hover::after {
      content: "";
      display: block;
      width: 75px;
      height: 175%;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 0.5;
      position: absolute;
      top: -20px;
      left: 0;
      animation: shine 200ms linear;
      transform: translateX(250px) rotate(-25deg);
    }
  }
}

@keyframes shine {
  0% {
    transform: translateX(-30px) rotate(-25deg);
  }

  100% {
    transform: translateX(250px) rotate(-25deg);
  }
}
