:root {
  --swiper-navigation-size: 1.3rem;
}
.total-workouts-container {
  height: 100%;
  font-family: "Teko";
  padding-top: 0.3rem;
  .mySwiper {
    max-height: 100%;
    .swiper-wrapper {
      align-items: center;
      .swiper-slide {
        text-align: center;
        .svg-container{
          margin: auto;
          width: 2rem;
          height: 2rem;
          svg {
            color: aqua;
          }
        }
      }
      .totals-count {
        color: #90bbff;
        font-size: 0.7rem;
      }
    }
  }
  // .total-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
}
