.chart-main {
  width: 90%;
  height: 100%;
  // display: flex;
  .chart-filter-inputs{
    display: flex;
  }
  .chart-container {
    // align-self: center;
    // width: 50rem;
    height: 100%;
    // width: 100%;

    // position: relative;
    .chart-wrapper {
      height: 15rem;
      // // height: 50rem;
      // width: 40rem;
    //  overflow-x: scroll;

      canvas{
        // position: absolute;
        // left: 0;
        // top: 0;
        // pointer-events:none;
      }
    }
  }
}
