.home-container {
  display: flex;
  height: 20rem;
  .home-left {
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 249, 255);
    .welcome {
      height: 30%;
      display: flex;
      align-items: center;
    }
    .calendar-widget {
      height: 70%;
      .calendar-widget-container{
        height: 100%;
        .fc{
          height: 100%;
        }
      }
    }
  }
  .home-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .entry-count {
      height: 24%;
    }
    .recent {
      height: 38%;
      padding-left: 1rem;
    }
    .highlights {
      height: 38%;
    }
  }
  .tile-container {
    border: 1px solid rgba(0, 0, 0, 0.015);
    // border: 1px solid black;
    border-radius: 0.1rem;
  }
  // .recent {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-evenly;
  // }
  
}
