.home-container {
  display: flex;
  height: 40vh;
  .home-left {
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .welcome {
      height: 50%;
    }
    .calendar {
      height: 50%;
    }
  }
  .home-right {
    width: 57%;
    height: 100%;
    .entry-count {
      height: 30%;
    }
    .random1 {
      height: 30%;
    }
    .random2 {
      // height: 30%;
    }
  }
  div {
    border: 1px solid black;
  }
}
