@import '../../../components/utils/var';
.edit-form-container{
    width: 100%;
    border: none;

  @media (min-width: $breakpoint-s) {
    border: 1px solid black;

    // font-size: 0.8rem;
    // margin: 1rem;

  }
  @media (min-width: $breakpoint-m) {
    // font-size: 0.8rem;
  }
  @media (min-width: $breakpoint-l) {
    // font-size: 0.8rem;
  }
  @media (min-width: $breakpoint-xl) {
    // font-size: 0.8rem;
  }
  form{
    width: 100%;
    @media (min-width: $breakpoint-s) {
      // font-size: 0.8rem;
      // margin: 1rem;
  
    }
    @media (min-width: $breakpoint-m) {
      // font-size: 0.8rem;
    }
    @media (min-width: $breakpoint-l) {
      // font-size: 0.8rem;
    }
    @media (min-width: $breakpoint-xl) {
      // font-size: 0.8rem;
    }
    div{
      flex-direction: column;
      @media (min-width: $breakpoint-s) {
        flex-direction: row;
      }
      @media (min-width: $breakpoint-m) {
        // font-size: 0.8rem;
      }
      @media (min-width: $breakpoint-l) {
        // font-size: 0.8rem;
      }
      @media (min-width: $breakpoint-xl) {
        // font-size: 0.8rem;
      }
    }
  }
}