.chart-main {
  width: 90%;
  .chart-container {
    // height: 80%;
    align-self: center;
    .chart-wrapper {
      display: flex;
      // width: 100%;
      // align-items: center;
      width: 100%;
    }
  }
}
