.chart-main {
  width: 90%;
  .chart-container {
    align-self: center;
    position: relative;

    .chart-wrapper {
      overflow-x: scroll;
      width: 50rem;
      // height: 50rem;
      canvas{
        position: absolute;
        left: 0;
        top: 0;
        pointer-events:none;
      }
    }
  }
}
