* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    ellipse at top,
    rgb(255, 255, 255) 0%,
    rgb(171, 178, 184) 100%
  );
  height: 100vh;
  width: 100vw;
  list-style: none;
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top:10rem;
  main {
    padding: 0.1rem;
    background-color: aliceblue;
    width: 38rem;
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
    section{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .header-container{
        height: 2rem;
      }
      .content-container{
        height: calc(100% - 2rem);
      }
    }
  }
}

.form-container{
  // wid
  border: 1px solid black;
  background-color: rgb(225, 225, 225);
  form{
    width: 20rem;
    display: flex;
    flex-direction: column;
    ul{
      list-style-type: none;
    }
    div{
      display: flex;
      width: 100%;
      // justify-content: center;
      label{
        // display: flex;
        width: 30%;
        text-align: right;
      }
      input{width: 65%;}
    }
  }
}
