.workout-page-container {
  display: flex;
  height: 100%;
  width: 100%;
  .workout-left{
    // width: 40%;
    width: 14rem;
  }
  .workout-right{
    // width: calc(100% - 14rem);
    width: 100%;
    // min-width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
      font-family: 'Goldman';
      font-size: 1.7rem;
    }
  }
}
